* {
  box-sizing: border-box;
}

:root {
  --font-color: rgb(66, 66, 66);
  --bg-color: rgb(255, 255, 255);
  --border-color: rgba(0, 0, 0, .1);
  --card-font-color: grey;
}

[data-theme="dark"] {
  --font-color: white;
  --bg-color: rgb(30,34,39);
  --border-color: #f6f7f9;
  --card-font-color: rgb(192, 188, 188);
}

body {
  font-family: 'Open Sans', sans-serif;
  /* for modal overlay that's position: absolute */
  position: relative;
  background-color: var(--bg-color);
  color: var(--font-color);
}

header,
main {
  margin: 0 auto;
}

header,
main,
.main-container {
  max-width: 1000px;
}

h1,
h3,
h5,
p {
  margin: 0;
}

h1 {
  font-size: 1.6em;
  text-transform: uppercase;
  padding-top: 30px;
  margin-bottom: 5px;
}

h3 {
  font-size: 1em;
}

h1,
h3 {
  font-weight: 400;
}

h1,
h3,
.search-bar {
  text-align: center;
}

.header-container,
.main-container {
  margin: 0 15px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px;
  padding-bottom: 30px;
}

.card {
  border: 2px solid var(--border-color);
  border-radius: 5px;
  height: 125px;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card-image-container {
  width: 90px;
}

.card img,
.modal-image {
  border-radius: 50%;
}

.card img {
  display: block;
  width: 100%;
}

.card-content {
  margin-left: 15px;
}

.name,
.city {
  text-transform: capitalize;
}

.name {
  margin-bottom: 7px;
  letter-spacing: .3px;
}

.email {
  margin-bottom: 6px;
}

.email,
.city {
  font-size: .7em;
  color: var(--card-font-color);
}

.toggle-container,
.search-bar {
  margin: 25px 0;
}

input,
input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

input {
  padding-left: 10px;
  width: 75%;
  height: 35px;
  max-width: 360px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, .2);
}

input::placeholder {
  font-size: .8em;
}


/* 
*************** -- Modal -- ***************
*/

.modal,
.modal-close {
  background-color: var(--bg-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
}

.modal {
  width: 80%;
  max-width: 320px;
  margin: 30px auto auto;
  text-align: center;
  border-radius: 5px;
  padding: 30px 20px;
  /* for the modal close button that's position: absolute */
  position: relative;
  top: 10%;
}

.modal-close {
  font-size: .8em;
  font-weight: 600;
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  border: none;
  color: var(--font-color);
}

.modal-content {
  position: relative;
}

.hidden {
  display: none;
}

.modal-image {
  margin-bottom: 10px;
}

.hr-style {
  margin: 30px 0;
  opacity: .3;
}

.margin-b {
  margin-bottom: 10px;
}

.fa {
  font-size: 1.5em;
  cursor: pointer;
}

.chevrons {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode {
  font-size: .7em;
  margin-right: 5px;
}


/* 
*************** -- dark mode toggle switch -- ***************
*/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
  background-color: rgb(182, 178, 178);
  border-radius: 20px;
  cursor: pointer;
}

.switch::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: white;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 17%;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left: 33px;
}

.checkbox:checked + .switch {
  background-color: rgb(85, 149, 124);
}

.checkbox {
  display: none;
}

.checkbox:checked + .switch .on {
  display: block;
}

.on {
  display: none;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 48%;
  left: 30%;
  font-size: .6em;
  font-weight: 600;
}


/* 
*************** -- media queries -- ***************
*/
/* to allow modal background to cover full page and elements */
@media (min-width: 320px) {
  .overlay {
    height: 2000px;
  }
}

@media (min-width: 630px) {
  .overlay {
    height: 1050px;
  }
}

@media (min-width: 768px) {
  h1,
  h3 {
    text-align: left;
  }

  .toggle-container,
  .search-bar {
    text-align: right;
  }

  .toggle-container {
    margin: 10px 0;
    justify-content: flex-end;
  }

  .search-bar {
    margin: 10px 0 20px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.1em;
  }
}